<h2>Create Service</h2>
<table class="table table-striped border-dark table-bordered">
  <tr>
    <td>Tên dịch vụ:</td>
    <td>
      <input type="text" class="form-control">
    </td>
  </tr>
  <tr>
    <td>Mã dịch vụ:</td>
    <td><input type="text" class="form-control">

    </td>
  </tr>
  <tr>
    <td>Diện tích sử dụng:</td>
    <td><input type="number" class="form-control">
    </td>
  </tr>

  <tr>
    <td>Chi phí thuê:</td>
    <td><input type="number" step="any" class="form-control">
    </td>
  </tr>
  <tr>
    <td>Số người tối đa:</td>
    <td><input type="number" class="form-control">

    </td>
  </tr>
  <tr>
    <td>Kiểu thuê:</td>
    <td>
      <select class="form-control">
        <option></option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Loại dịch vụ:</td>
    <td>
      <select class="form-control">
        <option></option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Tiêu chuẩn phòng:</td>
    <td><input type="text" class="form-control">


    </td>
  </tr>
  <tr>
    <td>Tiện nghi khác:</td>
    <td>
      <input type="text" class="form-control">

    </td>
  </tr>
  <tr>
    <td>Diện tích hồ bơi:</td>
    <td><input type="number" step="any" class="form-control">

    </td>
  </tr>
  <tr>
    <td>Số tầng:</td>
    <td><input type="number" step="any" class="form-control">
    </td>
  </tr>
  <tr>
    <td>Dịch vụ miễn phí đi kèm:</td>
    <td><input type="text" class="form-control">
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <button class="btn btn-success" type="submit">Create</button>
    </td>
  </tr>
</table>
