<div class=" bg-light list-group" style="height: auto" >
  <a href="/customer/create" class="list-group-item list-group-item-action list-group-item-primary ">Create new customer
  </a>
  <a href="/customer/list" class="list-group-item list-group-item-action list-group-item-primary ">Customer list
  </a>
  <a href="/service/create" class="list-group-item list-group-item-action list-group-item-success ">Create service</a>
  <a href="/contract/create" class="list-group-item list-group-item-action list-group-item-secondary ">Create contract
  </a>
  <a href="/customer-service/list" class="list-group-item list-group-item-action list-group-item-secondary ">Customer using service
  </a>
</div>
