<table class="table table-striped border-dark table-bordered">
  <tr>
    <td>Ngày bắt đầu:</td>
    <td><input type="date"  class="form-control">
    </td>
  </tr>
  <tr>
    <td>Ngày kết thúc:</td>
    <td><input type="date" class="form-control">
    </td>
  </tr>
  <tr>
    <td>Tiền đặt cọc:</td>
    <td><input type="number" step="any" class="form-control">
    </td>
  </tr>

  <tr>
    <td>Tổng tiền:</td>
    <td>
      <input id="totalMoney" type="number" step="any"
             class="form-control" readonly>
    </td>
  </tr>
  <tr>
    <td>Nhân viên làm hợp đồng:</td>
    <td>
      <select class="form-control">
        <option></option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Khách hàng:</td>
    <td>
      <select class="form-control">
        <option></option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Dịch vụ:</td>
    <td>
      <select  class="form-control" onchange="setTotalMoney()" id="mySelect">
        <option></option>
      </select>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <button class="btn btn-success" type="submit">Save</button>
      <button class="btn btn-secondary" type="reset">Reset</button>
    </td>
  </tr>
</table>
