<div class=" bg-light list-group" style="height: auto">
  <a [routerLink]="['/customer/create']" class=" list-group-item list-group-item-action list-group-item-primary ">Create
  new customer
  </a>
  <a [routerLink]="['/customer/list']" class="list-group-item list-group-item-action list-group-item-primary ">Customer list
  </a>
  <a [routerLink]="['/employee/create']" class=" list-group-item list-group-item-action list-group-item-primary ">Create
    new employee
  </a>
  <a [routerLink]="['/employee/list']" class="list-group-item list-group-item-action list-group-item-primary ">Employee list
  </a>
  <a [routerLink]="['/service/create']" class="list-group-item list-group-item-action list-group-item-success ">Create service</a>
  <a [routerLink]="['/service/list']" class="list-group-item list-group-item-action list-group-item-primary ">Service list
  </a>
  <a [routerLink]="['/contract/create']" class="list-group-item list-group-item-action list-group-item-secondary ">Create contract
  </a>
  <a [routerLink]="['/contract/list']" class="list-group-item list-group-item-action list-group-item-secondary ">Customer
    using service
  </a>
</div>
