<h2>Update Service</h2>
<form [formGroup]="editServiceForm" (ngSubmit)="onSubmitUpdate()">

  <table class="table table-striped border-dark table-bordered">
    <tr>
      <td>Id dịch vụ:</td>
      <td>
        <input type="number" class="form-control" formControlName="idService">
        <small style="color: red" *ngIf="editServiceForm.controls.idService.hasError('required') &&
           editServiceForm.controls.idService.touched">required
        </small>
      </td>
    </tr>
    <tr>
      <td>Tên dịch vụ:</td>
      <td>
        <input type="text" class="form-control" formControlName="nameService">
        <small style="color: red" *ngIf="editServiceForm.controls.nameService.hasError('required') &&
           editServiceForm.controls.nameService.touched">required
        </small>
      </td>
    </tr>
    <tr>
      <td>Mã dịch vụ:</td>
      <td><input type="text" class="form-control" formControlName="codeService">
        <small style="color: red" *ngIf="editServiceForm.controls.codeService.hasError('required') &&
           editServiceForm.controls.codeService.touched">required
        </small>
        <small style="color: red" *ngIf="editServiceForm.controls.codeService.hasError('pattern') &&
           editServiceForm.controls.codeService.touched">code invalid ex DV-1234
        </small>
      </td>
    </tr>
    <tr>
      <td>Diện tích sử dụng:</td>
      <td><input type="number" class="form-control" formControlName="areaService">
        <small style="color: red" *ngIf="editServiceForm.controls.areaService.hasError('required') &&
           editServiceForm.controls.areaService.touched">required
        </small>
      </td>
    </tr>

    <tr>
      <td>Chi phí thuê:</td>
      <td><input type="number" step="any" class="form-control" formControlName="cost">
        <small style="color: red" *ngIf="editServiceForm.controls.cost.hasError('required') &&
           editServiceForm.controls.cost.touched">required
        </small>
        <small style="color: red" *ngIf="editServiceForm.controls.cost.hasError('min') &&
           editServiceForm.controls.cost.touched"> cost >500000
        </small>
      </td>
    </tr>
    <tr>
      <td>Số người tối đa:</td>
      <td><input type="number" class="form-control" formControlName="maxPeople">
        <small style="color: red" *ngIf="editServiceForm.controls.maxPeople.hasError('required') &&
           editServiceForm.controls.maxPeople.touched">required
        </small>
      </td>
    </tr>
    <tr>
      <td>Kiểu thuê:</td>
      <td>
        <select class="form-control" formControlName="idRentType">
          <option *ngFor="let c of rentTypeList" [value]="c" [textContent]="c"></option>
        </select>
        <small style="color: red" *ngIf="editServiceForm.controls.idRentType.hasError('required') &&
           editServiceForm.controls.idRentType.touched">required
        </small>
      </td>
    </tr>
    <tr>
      <td>Trạng thái:</td>
      <td><input type="text" class="form-control" formControlName="statusService">
        <small style="color: red" *ngIf="editServiceForm.controls.statusService.hasError('required') &&
           editServiceForm.controls.statusService.touched">required
        </small>
      </td>
    </tr>

    <tr>
      <td>Số tầng:</td>
      <td><input type="number" step="any" class="form-control" formControlName="numberOfFloors">
        <small style="color: red" *ngIf="editServiceForm.controls.numberOfFloors.hasError('required') &&
           editServiceForm.controls.numberOfFloors.touched">required
        </small>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button class="btn btn-success" type="submit" [disabled]="editServiceForm.invalid">Update</button>
      </td>
    </tr>
  </table>
</form>
