<table class="table">
  <h2>Add new contract detail</h2>

  <tr>
    <td>ID Hợp đồng:</td>
    <td>
      <select class="form-control">
        <option></option>
      </select>
    </td>
  </tr>
  <tr>
    <td><label for="attach_service_id"> Dịch vụ đi kèm: </label></td>
    <td>
      <select class="form-control" id="attach_service_id">
        <option></option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Số lượng:</td>
    <td><input type="number" step="any" class="form-control">
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <button class="btn btn-success" type="submit">Save</button>
    </td>
  </tr>
</table>
