<h2 style="color: red" *ngIf="message" [textContent]="message"></h2>
<input type="search" [(ngModel)]="keyword" placeholder="name or phone">
<button (click)="searchAll()">search</button>
<p>{{keyword}}</p>
<h2>List customer</h2>
<table class="table table-striped table-bordered table-hover align-content-center d-inline-block w-100 table-bordered"
       style="overflow-x: scroll" id="tableCustomer">
  <thead class="thead-dark">
  <tr>
    <th>STT</th>
    <th>ID</th>
    <th (click)="sortByName()">Name</th>
    <th>Customer type</th>
    <th>Birthday</th>
    <th>ID card</th>
    <th>Phone number</th>
    <th>Email</th>
    <th>Address</th>
    <th>Code</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customerList | paginate:{ itemsPerPage: 5, currentPage: p },let i=index" >
    <td>{{i + 1}}</td>
    <td>{{customer.id}}</td>
    <td>{{customer.nameCustomer}}</td>
    <td>{{customer.typeCustomerId}}</td>
    <td>{{customer.dateOfBirthCustomer}}</td>
    <td>{{customer.idCardCustomer}}</td>
    <td>{{customer.phoneCustomer}}</td>
    <td>{{customer.emailCustomer}}</td>
    <td>{{customer.addressCustomer}}</td>
    <td>{{customer.codeCustomer}}</td>
    <td><a [routerLink]="['/customer/edit',customer.id]">Edit</a></td>
    <td><button  (click)="openDialogDelete(customer.id)">delete</button></td>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<!--<pagination-controls class="pagination"-->
<!--                     [maxSize]="maxSize"-->
<!--                     [directionLinks]="directionLinks"-->
<!--                     [autoHide]="autoHide"-->
<!--                     [responsive]="responsive"-->
<!--                     [previousLabel]="labels.previousLabel"-->
<!--                     [nextLabel]="labels.nextLabel"-->
<!--                     [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"-->
<!--                     [screenReaderPageLabel]="labels.screenReaderPageLabel"-->
<!--                     [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"-->
<!--                     (pageChange)="p = $event"></pagination-controls>-->
