<!--nội dung-->
<div class="align-content-center">
  <h2>Add new customer</h2>
  <form method="post" class="form-control">
    <table class="table border-dark form-group table-bordered">
      <tr>
        <td>Tên khách hàng:</td>
        <td>
          <input type="text" class="form-control">
        </td>
      </tr>
      <tr>
        <td>Loại khách hàng:</td>
        <td>
          <input type="text" class="form-control">
        </td>
      </tr>
      <tr>
        <td>Mã khách hàng:</td>
        <td>
          <input type="text" class="form-control">
        </td>
      </tr>
      <tr>
        <td>Ngày sinh:</td>
        <td>
          <input type="date" class="form-control">
        </td>

      </tr>
      <tr>
        <td>Giới tính:</td>
        <td>
          <input type="radio" value="0"/> Female
          <input type="radio" value="1"/> Male
        </td>
      </tr>
      <tr>
        <td>Số CMND:</td>
        <td>
          <input type="text"
                 class="form-control">
        </td>
      </tr>
      <tr>
        <td>Số điện thoại:</td>
        <td>
          <input type="text"
                 class="form-control">
        </td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>
          <input type="text"
                 class="form-control">
        </td>
      </tr>
      <tr>
        <td>Địa chỉ:</td>
        <td>
          <input type="text"
                 class="form-control">
        </td>

      </tr>
      <tr>
        <td colspan="2" class="justify-content-center">
          <button class="btn btn-success" type="submit">Save</button>
          <button class="btn btn-secondary" type="reset">Reset</button>
        </td>
      </tr>
    </table>
  </form>
</div>

