
    <!--nội dung-->
    <div class="align-content-center">
      <h2>Add new employee</h2>
        <table class="table table-striped border-dark table-bordered">
          <tr>
            <td>Tên nhân viên:</td>
            <td><input type="text"  class="form-control">

          </tr>
          <tr>
            <td>Ngày sinh:</td>
            <td><input type="date"
                       min="1920-01-01" max="2030-12-31"   class="form-control">

          </tr>

          <tr>
            <td>Số CMND:</td>
            <td>
              <input type="text"  class="form-control">

            </td>
          </tr>
          <tr>
            <td>Mức lương:</td>
            <td>
              <input type="number" step="any"   class="form-control">

            </td>
          </tr>
          <tr>
            <td>Số điện thoại:</td>
            <td>
              <input type="text"  class="form-control">

            </td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>
              <input type="text"   class="form-control">

            </td>
          </tr>
          <tr>
            <td>Địa chỉ:</td>
            <td><input type="text"   class="form-control">

          </tr>
          <tr>
            <td><label for="viTri">Vị trí:</label></td>
            <td>
              <select class="form-control" id="viTri">
                <option></option>
              </select>
            </td>

          </tr>
          <tr>
            <td><label for="trinhDo">Trình độ:</label></td>
            <td>
              <select  class="form-control" id="trinhDo">
                <option ></option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label for="boPhan">Bộ phận:</label></td>
            <td>
              <select class="form-control" id="boPhan">
                <option></option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Username:</td>
            <td>
              <select class="form-control" >
                <option></option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button type="submit" class="btn btn-success">Save</button>
            </td>
          </tr>
        </table>
<!--      </form>-->
    </div>

